<%= title_tag t(".title") %>

<% form_for @incoming_stream, :url => incoming_stream_path do |f| %>
<%= f.error_messages %>

<h3><%= IncomingStream.human_attribute_name("mode") %></h3>
<p>
  <%= f.radio_button :mode, "push" %>
  <div id="incoming_stream_push_inputs" class="mode_inputs">
    <%= f.label :mode, t("incoming_streams.mode.push") %>
  </div>
</p>
</p>

<p>
  <%= f.radio_button :mode, "pull" %>
  <div id="incoming_stream_pull_inputs" class="mode_inputs">
    <%= f.label :mode, t("incoming_streams.mode.pull") %>

    <%= f.text_field :host %> <%= f.text_field :port, :size => 4 %>
  </div>
</p>

<p>
  <%= f.label :password, IncomingStream.human_attribute_name("password") %><br/>
  <%= f.text_field :password %>
</p>

<p>
  <%= f.submit t(".submit") %> 
  <%= t("or") %> <%= link_to "#{t(".cancel")} &#8250;", incoming_stream_path %>
</p>
<% end %>

<div class="inline_help">
  <%= render :partial => "inline_help", :locals => { :mode => :all } %>
</div>
