<%= title_tag t(".title") %>

<div class="description">
  <p>
  <%= IncomingStream.human_attribute_name("mode") %> :
  <%= t("incoming_streams.mode.#{@incoming_stream.mode}") %>
  </p>

  <% if @incoming_stream.pull? %>
  <p>
  <%= IncomingStream.human_attribute_name("host") %> :
  <%= @incoming_stream.host %>:<%= @incoming_stream.port %>
  </p>
  <% end %>

  <p>
  <%= IncomingStream.human_attribute_name("password") %> :
  <%= @incoming_stream.password.present? ? @incoming_stream.password : t(".no_password") %>
  </p>

  <div class="actions">
    <%= link_to t("incoming_streams.actions.edit"), edit_incoming_stream_path, :class => "edit" %>
  </div>
</div>
