<%= title_tag t(".title") %>

<% form_for @link_stream, :url => link_stream_path do |f| %>
  <%= f.error_messages %>

  <h3><%= t("link_streams.target_properties") %></h3>

  <p>
    <%= f.label :target_host, LinkStream.human_attribute_name("target_host") %><br/>
    <%= f.text_field :target_host %>
  </p>

  <p>
    <%= f.label :target_port, LinkStream.human_attribute_name("target_port") %><br/>
    <%= f.text_field :target_port %>
  </p>

  <h3><%= t("link_streams.udp_properties") %></h3>

  <p>
    <%= f.label :udp_port, LinkStream.human_attribute_name("udp_port") %><br/>
    <%= f.text_field :udp_port %>
  </p>

  <h3><%= t("link_streams.http_properties") %></h3>

  <p>
    <%= f.label :http_port, LinkStream.human_attribute_name("http_port") %><br/>
    <%= f.text_field :http_port %>
  </p>

  <h3><%= t("link_streams.alsa_properties") %></h3>

  <p>
    <%= f.check_box :alsa_capture %>
    <%= f.label :alsa_capture, LinkStream.human_attribute_name("alsa_capture") %>
  </p>

  <p>
    <%= f.check_box :alsa_playback %>
    <%= f.label :alsa_playback, LinkStream.human_attribute_name("alsa_playback") %>
  </p>

  <h3><%= t("link_streams.packetizer_properties") %></h3>

  <p>
    <%= f.label :packetizer_interleaving, LinkStream.human_attribute_name("packetizer_interleaving") %><br/>
    <%= f.text_field :packetizer_interleaving %>
  </p>

  <p>
    <%= f.label :packetizer_repeat, LinkStream.human_attribute_name("packetizer_repeat") %><br/>
    <%= f.text_field :packetizer_repeat %>
  </p>

  <p>
    <%= f.label :packetizer_packet_size, LinkStream.human_attribute_name("packetizer_packet_size") %><br/>
    <%= f.text_field :packetizer_packet_size %>
  </p>

  <h3><%= t("link_streams.unpacketizer_properties") %></h3>

  <p>
    <%= f.label :unpacketizer_time_to_live, LinkStream.human_attribute_name("unpacketizer_time_to_live") %><br/>
    <%= f.text_field :unpacketizer_time_to_live %>
  </p>

  <p>
    <%= f.submit t(".submit") %> 
    <%= t("or") %> <%= link_to "#{t(".cancel")} &#8250;", link_stream_path %>
  </p>

<% end %>

