<%= title_tag LinkStream.human_name %>

<div class="description">
  <h3><%= t("link_streams.target_properties") %></h3>

  <p>
  <%= LinkStream.human_attribute_name("target_host") %> :
  <%= @link_stream.target_host %>
  </p>

  <p>
  <%= LinkStream.human_attribute_name("target_port") %> :
  <%= @link_stream.target_port %>
  </p>

  <h3><%= t("link_streams.udp_properties") %></h3>

  <p>
  <%= LinkStream.human_attribute_name("udp_port") %> :
  <%= @link_stream.udp_port %>
  </p>

  <h3><%= t("link_streams.http_properties") %></h3>

  <% if @link_stream.http_enabled? %>
  <p>
  <%= LinkStream.human_attribute_name("http_port") %> :
  <%= @link_stream.http_port %>
  </p>
  <% else %>
    <%= t(".http_is_disabled") %>
  <% end %>

  <h3><%= t("link_streams.alsa_properties") %></h3>

  <p>
    <%= LinkStream.human_attribute_name("alsa_capture") %> : 
    <%= t(".alsa_capture_" + (@link_stream.alsa_capture? ? "enabled" : "disabled")) %>
  </p>

  <p>
    <%= LinkStream.human_attribute_name("alsa_playback") %> :
    <%= t(".alsa_playback_" + (@link_stream.alsa_playback? ? "enabled" : "disabled")) %>
  </p>

  <h3><%= t("link_streams.packetizer_properties") %></h3>

  <% unless @link_stream.with_packetizer_properties? %>
  <p><%= t(".no_packetizer_properties") %></p>
  <% end %>

  <% unless @link_stream.packetizer_interleaving.blank? %>
  <p>
  <%= LinkStream.human_attribute_name("packetizer_interleaving") %> :
  <%= @link_stream.packetizer_interleaving %>
  </p>
  <% end %>

  <% unless @link_stream.packetizer_repeat.blank? %>
  <p>
  <%= LinkStream.human_attribute_name("packetizer_repeat") %> :
  <%= @link_stream.packetizer_repeat %>
  </p>
  <% end %>

  <% unless @link_stream.packetizer_packet_size.blank? %>
  <p>
  <%= LinkStream.human_attribute_name("packetizer_packet_size") %> :
  <%= @link_stream.packetizer_packet_size %>
  </p>
  <% end %>

  <% unless @link_stream.packetizer_token.blank? %>
  <p>
  <%= LinkStream.human_attribute_name("packetizer_token") %> :
  <%= @link_stream.packetizer_token %>
  </p>
  <% end %>

  <h3><%= t("link_streams.unpacketizer_properties") %></h3>

  <% unless @link_stream.with_unpacketizer_properties? %>
  <p><%= t(".no_unpacketizer_properties") %></p>
  <% end %>

  <% unless @link_stream.unpacketizer_time_to_live.blank? %>
  <p>
  <%= LinkStream.human_attribute_name("unpacketizer_time_to_live") %> :
  <%= @link_stream.unpacketizer_time_to_live %>
  </p>
  <% end %>
 
  <% unless @link_stream.unpacketizer_token.blank? %>
  <p>
  <%= LinkStream.human_attribute_name("unpacketizer_token") %> :
  <%= @link_stream.unpacketizer_token %>
  </p>
  <% end %>
 
</div>

<div class="actions">
  <%= link_to t("actions.edit"), edit_link_stream_path, :class => "edit" %>
</div>
