<%= title_tag t(".title") %>

<%= form_for @outgoing_stream, :url => outgoing_stream_path do |f| %>
<%= f.error_messages %>

<h3><%= OutgoingStream.human_attribute_name("mode") %></h3>
<p>
  <%= f.radio_button :mode, "pull" %>
  <div id="outgoing_stream_pull_inputs" class="mode_inputs">
    <%= f.label :mode, t("outgoing_streams.mode.pull") %>
  </div>
</p>
</p>

<p>
  <%= f.radio_button :mode, "push" %>
  <div id="outgoing_stream_push_inputs" class="mode_inputs">
    <%= f.label :mode, t("outgoing_streams.mode.push") %>

    <%= f.text_field :host %> <%= f.text_field :port, :size => 4 %>
  </div>
</p>

<p>
  <%= f.label :password, OutgoingStream.human_attribute_name("password") %><br/>
  <%= f.text_field :password %>
</p>

<p>
  <%= f.label :quality, OutgoingStream.human_attribute_name("quality") %><br/>
  <%= f.collection_select :quality, 0..10, :to_i, :to_s %>
</p>

<p>
  <%= f.submit t(".submit") %>
  <%= t("or") %> <%= link_to "#{t(".cancel")}", outgoing_stream_path %>
</p>
<% end %>

<div class="inline_help">
  <%= render :partial => "inline_help", :locals => { :mode => :all } %>
</div>
