<%= title_tag t(".title") %>

<div class="description">
  <p>
  <%= OutgoingStream.human_attribute_name("mode") %> :
  <%= t("outgoing_streams.mode.#{@outgoing_stream.mode}") %>
  </p>

  <% if @outgoing_stream.push? %>
  <p>
  <%= OutgoingStream.human_attribute_name("host") %> :
  <%= @outgoing_stream.host %>:<%= @outgoing_stream.port %>
  </p>
  <% end %>

  <p>
  <%= OutgoingStream.human_attribute_name("password") %> :
  <%= @outgoing_stream.password.present? ? @outgoing_stream.password : t(".no_password") %>
  </p>

  <p>
  <%= OutgoingStream.human_attribute_name("quality") %> :
  <%= @outgoing_stream.quality %>
  </p>

  <div class="actions">
    <%= link_to t("outgoing_streams.actions.edit"), edit_outgoing_stream_path, :class => "edit" %>
  </div>
</div>
